
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
}


.nav {
    height: 160px;
    width: 50%;

}
/* .play{
    display: none;
} */
.play:hover{
        background-color:burlywood ;
}
.name a {
    color: #000;
}
.name a:hover{
    color: #0160E7;
    text-decoration: underline;
    font-weight: 600;
}


.downn{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.down {
    height:250px;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
    flex-direction: column;
}


.company {
    height: 700px;
    width: 100%;
}

.com{
    font-size: 40px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 15px;
}


.x img {
    margin-top: 80px;
    height: 300px;
    width: 350px;
    border: 10px white;
}

.y img {
    height: 300px;
    width: 350px;
    margin-top: 280px;
    margin-left: 100px;
}
.z img {
    height: 350px;
    width: 50%;
    margin-top: 180px;
    margin-left: 300px;
    background-position: center;
    background-size: cover ;
}

.exp{
    font-weight: 700;
    color: #FE4C1C;
}

.cost{
    height: 100%;
    width: 50%;
}

.home{
    margin-top: 80px;
}

.blog-button-section{

}

.how button:hover{
    background-color: #FE4C1C;
}

.howw button{
    background-color: #FE4C1C;
}

.nav-logo-new {

    width: 50%;
    height: 100%;
    margin-left: -150px;
}

.phone-img {

    height: 15px;
}

.orange-nav {

    width: 68%;

    height: 100px;
    position: absolute;
    top: 45px;
    right: 0px;

}



.white {
    background-image: url("./assets/navbar.png");
    background-repeat: no-repeat;
    position: absolute;


}
.plyaa {
    margin-top: 15px;
    margin-left: 15px;
}
.plyaa  li a{
    margin-top: 8px;
}
.play  {

    margin-top: 15px;
    margin-right: 15px;
}
.home-image {
    background-image: url("./assets/main.png");
    width: 43%;

    object-fit: cover;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.homeSection {
    display: flex;
    flex-wrap: wrap;
}

.forword {

    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon {
    margin-bottom: 5px;

}

.about-image {
    width: 500px;
    object-fit: cover;
    height: 550px;
    background-position: center;
    background-size: cover;
}

.about-li {
    margin: 20px 0px;
}

.off {
    width: 100%;
    height: 100%;
 
    font-size: 25px;
    list-style: none;
    font-weight: 400;
    
}
.off span {
    margin-top: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.off span i {
    color: #FE4C1C;
}

/*  */
.blog-img {
    width: 330px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.project-img1 {
    width: 290px;
    object-fit: cover;
    height: 190px;
    background-position: center;
    background-size: cover;
    margin: 10px;

}


.project-img2 {
    width: 100%;
    object-fit: cover;
    height: 400px;
    background-position: center;
  position: relative;

    

}

.project-img3 {
    width: 365px;
    height: 280px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.mark{
    margin-bottom: 100px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;

}

.ooff{
    display: none;
}

.pro img{
    width: 330px;
    height: 350px;
    border: 2px #0077b5;
    background: teal;

}
.p {
    font-size: 12px;

}


.team {
    background-image: url("./assets//gray.png");
    width: 430px;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.pro {
    border: 2px solid #0160E7;
}

.team1 {
    background-image: url("./assets/coo.png");
    width: 330px;
    height: 350px;
    object-fit: cover;
    background-position: center;
    background-size: cover;

}

.footer-input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 20px;
}

.hr {
    width: 100%;

}


.footer-logo {
    width: 180px;
    height: 70px;
    background-repeat: no-repeat;
    border: none;
}

.Our p {
    font-size: 14px;
}

.quato {
    margin-bottom: 10px;
    
}

.quato:hover {
background-color: white !important;}

.value {

background-color: "#0160E7";
}

.yout {
    width: 50px;
    height: 37px;
    margin-bottom: 8px;


}

.input0 {
    width: 48%;
    height: 35px;
    border: none;
    padding-left: 10px ;
    border-radius: 5px;
    color: #FE4C1C;

    
    
    
}
input {
    color: #FE4C1C;
    font-weight: 500;

}
input::placeholder {
color: #FE4C1C;
font-weight: 500;
}

.input00 {
    width: 43%;
    height: 35px;
    border: none;
    margin: 10px 15px ;
    padding-left: 15px;
    border-radius: 5px;
    
}



.input1 {
    width: 96%;
    margin: 15px 0px;
    height: 35px;
    padding: 10px;
border: none;   
 background-color: white;
 border-radius: 5px;
}


.text-area {
    width: 94%;
    height: 120px;
    margin: 15px 0px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 10px;
    padding: 5px;
}

.text-area::placeholder{
    color: #FE4C1C;
}

.fib {
    display: flex;

}

.icon-contact {
    height: 50px;
    margin: 5px;
}

.map {
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

/* blog section */

.blogimg1 {
    width: 100%;
    height: 350px;
    background-image: url("./blogsimg/blog2.png");

   
    

}
.name a{
    font-size: 20px;
    font-weight: 500;
}

.blogimg2 {
    width: 55%;
    height: 230px;
    background-image: url("./blogsimg/blog2.png");
    margin: 20px 0px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.blogimg3 {
    width: 320px;
    height: 200px;
    background-image: url("./blogsimg/blog3.png");
    margin: 20px 0px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.blogimg4 {
    width: 250px;
    height: 140px;
    background-image: url("./blogsimg/blog4.png");
    margin: 20px 5px;
    background-position: center;
    background-size: cover;
    object-fit: cover;

}


.blogimg5 {
    width: 250px;
    height: 140px;
    background-image: url("./blogsimg/blog5.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.blogimg51 {
    width: 400px;
    height: 100px;
    background-image: url("src/assets/blog image/Blog1.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.blogimg52 {
    width: 400px;
    height: 100px;
    background-image: url("src/assets/blog image/blog2.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.blogimg53 {
    width: 400px;
    height: 100px;
    background-image: url("src/assets/blog image/blog7.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
   

}

.listItem{
    list-style: none;
    background-color: #f00;
}

.ght {
    color: #0077b5;
}

.search-input{
      width:230px;
      height:35px;
      border: 1px solid orangered;
      padding-left: 15px;
      border-radius: 20px;
}

.search-img{
     height:30px;
     margin-left: -34px;
    
}

.oofff{
    display: none;
}

.xy{
    font-size: 18px;
    font-weight: 400;
}

/* BLOG SECTION */

@media (max-width:480px) {

    .nav-logo-new {
        width: 140px;
        height: 60px;
        margin-left: 40px;
        margin-top: -60px;

    }

    .home {
        display: none;
    }

    .xy {
        display: none;
    }
    .oofff {
        display: block;
    }

    .mark{
        display: none;
       }

     
       .ned button {
        margin: 5px;
      }

    
    .nav {
        height: 100px;
        width: 300px;
    }


    
    .orange-nav {
        display: none;

    }

    .homeSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .home-image {
        margin: 30px;
        width: 70%;
        height: 370px;
    }


    .About {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    .about-image {
        width: 80%;
    }


    .part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;

    }

    .project {

        padding-left: 120px;
    }

    .client-c {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .blog {
        /* margin-left: 30px; */
        padding: 35px;
    }

    .blog-child {
        margin-left: 30px;
    }


    .span {
        display: none;
    }

    .footer-logo {
        margin-bottom: 15px;
    }

    .icon {
        display: none;
    }

    .form {
        flex-wrap: wrap;
        width: 100%
    }

    .form1 {
        width: 100%;
        margin-left: 30px;
    }

    .form2 {
        margin-left: 60px;

    }


    .project-img1 {
        padding-left: 80px;
    }

    .project-img2 {
        width: 320px;
        height: 300px;

    }

    .project-img3 {
        width: 320px;
        height: 300px;
        margin-left: 5%;

    }


    .team-new {
        padding-left: 45px;
    }

    .team-new1 {
        margin-left: 30px;
    }

    .footer {
        padding: 70px;
    }

    .footer-input {
        margin-top: 0px;

    }

    .fib {
        display: "flex";
        align-items: center;
        justify-content: center;
    }
  

}

@media (max-width:767px) {
.home Button{
    display: none;
}

.homee .home {
    display: none;
}


/* .nav-bar {
    display: none;
} */
.ooff {
    display: block;
}
.nav-bar .white {
    display: none;
}
.home Link {
    display: none;
}
    .align {
        display: "flex";
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cost img {
      display: none;
    }

    .cost {
        display: none;
    }

    .off {
        display: none;
        flex-wrap: wrap;
       
    }

  
}

@media (max-width:576px) {
    .nav-bar {
        width: 100%;
    }

    .panda{
        display: none;
    }

}
.call {
    height: 15px;
}

.hover:hover {
        transition: all .5s;
        transform: scale(1.1);    
        background-color: #FE4C1C;
}
.hoverr:hover {
    transition: all .5s;
    transform: scale(1.1);    
}

    .client-cc:hover {
        background-color: #0160E7;
        color: white;
        transition: all .5s;
        transform: scale(1.1);    
    }

  .panda{
    color: #000;
    
  }
  
  .pandaa{
    color: #000;
    
  }

    .client-cc h1:hover {
        color: rgb(8, 8, 8);
    }


    .book{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bookk{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
  
 



    .client-cc {
        position: relative;
    }

    .panda{
        position: absolute;
        margin-top: 320px;
        margin-left: 10px;
    }
    .pandaa{
        position: absolute;
        margin-top: 205px;
        margin-left: 10px;

    }


    
  

  /*  */



  ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;

    margin-right: 30px;
  }
  
  ul li a {
    width: 35px;
    height: 35px;
    background-color: #0160E7;
    text-align: center;
    font-size: 20px;
    margin: 0 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
  }
  
  ul li a .icon {
    position: relative;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);  }
  
  ul li:nth-child(2) a:before{
    background: #3d5995;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
    background: 	#192734;
  }


  /* footer */

  .book li { 
    list-style: none;


  }
  .bookk li { 
    list-style: none;

  }

  .foot:first-child{
    background: #0077b5;
  }

  .book li a {
    width: 28px;
    height: 28px;
    background-color: #FE4C1C;
    text-align: center;
    font-size: 13px;
    margin: 0 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
  }
  .bookk li a {
    width: 30px;
    height: 30px;
    background-color: #0160E7;
    text-align: center;
    font-size: 17px;
    margin: 0 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
  }

  .book li a .icon {
    position: relative;
    transition: .5s;
    z-index: 3;
    padding: 3px;
  }
  .bookk li a .icon {
    position: relative;
    transition: .5s;
    z-index: 3;
    padding: 3px;

  }

  .book li a:hover .icon {
    transform: rotateY(360deg);
    
  }
  .bookk li a:hover .icon {
    transform: rotateY(360deg);
    
  }

  .book li a:hover:before {
    top: 0;

  }
  .bookk li a:hover:before {
    top: 0;

  }
    
.book li a:hover{
    background: #0160E7;
}

.bookk li a:hover{
    background: #FE4C1C;
}


@media (max-width :1024px) {

    .cost img{
        width: 50%;
        height: 50%;
       
    }

    .foott{
        display: none;
    }

    .foot{
        width: 10%;
    }

    .z img {
        display: none;
    }

  
   
    
  
}

.coloo {
    height: 100%;
    width: 100%;
    background-color: #e6effd;
}

.plyaa .icon {
    padding: 2px;
    margin-top: 5px;
}



.hello ul {
    display: none;
    
}

.hello ul:hover{
    display: block !important;
}



